@tailwind base;
/* width */

::-webkit-scrollbar {
  width: 0.4em;
  height: auto
}
::-webkit-scrollbar-button {
  background: #eee;
}
::-webkit-scrollbar-track-piece {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
}

@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: sans-serif;
  }
  thead tr th {
    padding: 1em 0;
    font-size: 0.9em;
    border: 1px solid #bdbdbd;
    width: 100%;
  }
  thead tr {
    background: rgb(3, 21, 32);
    color: white;
    text-transform: uppercase;
  }
  tbody tr {
    cursor: pointer;
    /* height: 5em; */
  }
  tbody tr:hover {
    background: rgb(134 239 172);
    color: black;
    transition: all 0.3s ease;
  }

  tbody tr td {
    padding: 1em 0.5em;
    border: 1px solid #bdbdbd;
    font-size: 0.9em;

  }

  h2 {
    text-align: center;
    color: #1d1d1d;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  h3 {
    text-align: start;
    color: #1d1d1d;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 20px 0;
  }

  button {
    padding: 0.4em 2em;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 0.9em;
    text-transform: capitalize;
    font-weight: bold;
  }
}


/* FormStyles.css */
.form-group label {
  @apply text-gray-700 font-semibold;
}

.form-group input, .form-group textarea {
  @apply mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm;
}

.form-button {
  @apply w-full px-4 py-2 text-white bg-green-500 rounded hover:bg-green-700 focus:outline-none focus:bg-green-600;
}

.form-layout {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4 p-5 bg-white shadow-lg rounded-lg;
}
